
.weather-display {
    background: rgba(119, 118, 118, 0.38);
    height: 50%;
}

img {
    border-radius: 50%;
    width: 5%;
    height: auto;
}

.gif-display {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.gif-display span {
    width: 90px;
    padding: 1%;
    color: #eae8e8;
}